@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import "./normalize.scss";

html {
  font-family: "Montserrat", sans-serif;
  -webkit-tap-highlight-color: transparent;
  font-size: 14px;
  color: #374151;
  line-height: 1.5;

  --rounded: 12px;

  --color-success: hsl(145, 100%, 70%);

  --color-error: hsl(0, 100%, 71%);

  --color-primary: #7066ff;
  --color-primary-dark: #675cff;
  --color-primary-light: #e7e5ff;
  --color-primary-lighter: #f1f0ff;

  --color-disabled: #dfdfdf;

  --color-border: #d6d6d6;

  @media (min-width: 992px) {
    font-size: 16px;
  }
}

.container {
  padding: 1rem;

  @media (min-width: 992px) {
    max-width: 960px;
    margin: 0 auto;
  }
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}
