<template>
  <default-layout class="result-page" title="Результаты">
    <h3 class="result-page__subtitle">
      Вы ответили правильно на
      {{ correctQuestionsCount }} из {{ questions.length }} вопросов
    </h3>

    <template v-if="correctQuestionsCount !== questions.length">
      <h3>Вопросы для повторения:</h3>

      <ul class="result-list">
        <li
          class="result-list__item"
          v-for="(question, index) in wrongQuestions"
          :key="question.id"
        >
          {{ index + 1 }}. {{ question.title }}
          <p>
            <span class="result-page__label">Ваш ответ:</span>
            {{ getUserAnswer(question) }}
          </p>
          <p>
            <span class="result-page__label">Правильный ответ:</span>
            {{ getCorrectAnswer(question) }}
          </p>
        </li>
      </ul>
    </template>

    <app-button @click="tryAgain" class="result-page__try-again">
      Попробовать еще
    </app-button>
  </default-layout>
</template>

<script>
import DefaultLayout from '@/layouts/DefaultLayout'

import AppButton from '@/components/AppButton.vue'

export default {
  components: {
    DefaultLayout,
    AppButton,
  },

  computed: {
    wrongQuestions() {
      return this.questions.filter(
        ({ userAnswer, correctAnswer }) => correctAnswer !== userAnswer,
      )
    },

    correctQuestionsCount() {
      return this.questions.length - this.wrongQuestions.length
    },
  },

  data() {
    return {
      questions: JSON.parse(window.sessionStorage.getItem('questions') || '[]'),
    }
  },

  methods: {
    getUserAnswer(question) {
      return this.getAnswer(question, question.userAnswer).title
    },

    getCorrectAnswer(question) {
      return this.getAnswer(question, question.correctAnswer).title
    },

    getAnswer(question, id) {
      return question.answers.find(a => a.id === id)
    },

    tryAgain() {
      this.$router.push({
        name: 'SettingsPage',
        params: {
          testId: this.$route.params.testId,
        },
      })
    },
  },
}
</script>

<style lang="scss">
.result-page {
  padding-bottom: 6rem;

  &__label {
    font-weight: 600;
  }

  &__subtitle {
    font-weight: 500;
    color: var(--color-primary);
  }

  &__try-again {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 15rem;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  }
}

.result-list {
  margin: 0;
  padding: 0;

  &__item {
    list-style: none;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--color-border);

    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }
}
</style>
