<template>
  <div>
    <default-layout title="Выберите тест">
      <test-item
        v-for="test in tests"
        :key="test.name"
        :test="test"
        @click="selectTest(test.id)"
        class="test-list__item"
      />
    </default-layout>
  </div>
</template>

<script>
import DefaultLayout from '@/layouts/DefaultLayout'

import TestItem from '@/components/TestItem.vue'

import { fetchTests } from '@/api/tests'

export default {
  components: {
    TestItem,
    DefaultLayout,
  },

  data() {
    return {
      tests: [],
    }
  },

  mounted() {
    this.loadTests()
  },

  methods: {
    loadTests() {
      this.tests = fetchTests()
    },

    selectTest(id) {
      this.$router.push({
        name: 'SettingsPage',
        params: {
          testId: id,
        },
      })
    },
  },
}
</script>

<style lang="scss">
.test-list {
  &__item {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
</style>
