<template>
  <default-layout
    v-if="currentSettings"
    :title="currentTest.name"
    class="settings-page"
  >
    <div class="settings-page__title">
      Укажите диапазон вопросов для тестирования:
    </div>
    <app-range
      v-model="currentSettings.range"
      class="settings-page__questions-range"
    />

    <div class="settings-page__actions">
      <app-button @click="goToSelectTest" type="secondary">
        Выбрать другой тест
      </app-button>

      <app-button @click="start">Начать</app-button>
    </div>
  </default-layout>
</template>

<script>
import DefaultLayout from '@/layouts/DefaultLayout'

import AppRange from '@/components/AppRange.vue'
import AppButton from '@/components/AppButton.vue'

import { fetchTests } from '@/api/tests'

import shuffle from '@/utils/shuffle'

export default {
  defaultSettings: {
    range: [1, 50],
  },

  components: { DefaultLayout, AppRange, AppButton },

  data() {
    return {
      currentSettings: null,
      tests: [],
    }
  },

  computed: {
    currentTestId() {
      return this.$route.params.testId
    },

    currentTest() {
      return this.tests.find(test => test.id === this.currentTestId)
    },

    getSettings() {
      return JSON.parse(window.localStorage.getItem('settings') || '{}')
    },
  },

  watch: {
    currentSettings: {
      deep: true,
      handler(newValue) {
        window.localStorage.setItem(
          'settings',
          JSON.stringify({
            ...this.getSettings,
            [this.currentTestId]: newValue,
          }),
        )
      },
    },
  },

  methods: {
    start() {
      this.loadQuestions()

      this.$router.push({
        name: 'TestingPage',
        params: {
          questionNumber: 1,
          testId: this.$route.params.testId,
        },
      })
    },

    goToSelectTest() {
      this.$router.push({
        name: 'SelectTestPage',
      })
    },

    loadQuestions() {
      const [from, to] = this.currentSettings.range

      const paginatedQuestions = this.currentTest.questions.slice(from - 1, to)

      const formattedQuestions = shuffle(paginatedQuestions).map(question => ({
        ...question,
        answers: shuffle(question.answers),
        userAnswer: null,
      }))

      window.sessionStorage.setItem(
        'questions',
        JSON.stringify(formattedQuestions),
      )
    },

    loadTests() {
      this.tests = fetchTests()
    },

    loadSettings() {
      this.currentSettings =
        this.getSettings[this.currentTestId] || this.$options.defaultSettings
    },
  },

  mounted() {
    this.loadTests()

    this.loadSettings()
  },
}
</script>

<style lang="scss">
.settings-page {
  &__title {
    margin-bottom: 1rem;
    font-weight: 500;
  }

  &__actions {
    margin-top: 4rem;
    display: grid;
    gap: 1rem;

    @media (min-width: 992px) {
      grid-template-columns: repeat(2, max-content);
    }
  }

  &__questions-range {
    width: 100%;

    @media (min-width: 992px) {
      width: 20rem;
    }
  }
}
</style>
