<template>
  <div v-if="questions.length" class="test-page">
    <div class="container">
      <div class="test-page__header">
        <h3 class="test-page__title">
          Вопрос {{ questionNumber }} из {{ questions.length }}
        </h3>
      </div>

      <div class="test-page__body">
        <div class="question-item">
          <div class="question-item__title">
            {{ question.title }}
          </div>

          <answers-list
            :modelValue="question.userAnswer"
            @update:modelValue="selectAnswer"
            :answers="questionAnswers"
          />
        </div>
      </div>

      <div class="test-page__actions">
        <app-button
          v-if="canPrev"
          type="secondary"
          class="test-page__button-prev"
          @click="prev"
        >
          Назад
        </app-button>
        <app-button
          v-if="canNext"
          @click="next"
          :disabled="!question.userAnswer"
          class="test-page__button-next"
        >
          Далее
        </app-button>

        <app-button
          v-else
          :disabled="!question.userAnswer"
          @click="finish"
          class="test-page__button-next"
        >
          Завершить
        </app-button>
      </div>
    </div>
  </div>
</template>

<script>
import AppButton from '@/components/AppButton.vue'
import AnswersList from '@/components/AnswersList.vue'

export default {
  components: {
    AppButton,
    AnswersList,
  },

  data() {
    return {
      questions: JSON.parse(window.sessionStorage.getItem('questions') || '[]'),
    }
  },

  computed: {
    question() {
      return this.questions[this.questionNumber - 1]
    },

    questionAnswers() {
      return this.question.answers.map(answer => ({
        ...answer,
        status: this.getAnswerStatus(answer.id),
      }))
    },

    canNext() {
      return this.questionNumber < this.questions.length
    },

    canPrev() {
      return this.questionNumber > 1
    },

    questionNumber() {
      return this.$route.params.questionNumber
    },
  },

  watch: {
    questions: {
      handler(value) {
        window.sessionStorage.setItem('questions', JSON.stringify(value))
      },
      deep: true,
    },
  },

  methods: {
    next() {
      this.$router.push({
        params: {
          questionNumber: +this.questionNumber + 1,
        },
      })
    },

    prev() {
      this.$router.go(-1)
    },

    finish() {
      this.$router.push({
        name: 'ResultPage',
        params: {
          testId: this.$route.params.testId,
        },
      })
    },

    getAnswerStatus(answerId) {
      const { userAnswer, correctAnswer } = this.question

      if (!userAnswer) {
        return null
      }

      if (answerId === correctAnswer) {
        return 'correct'
      } else if (answerId === userAnswer) {
        return 'wrong'
      }
    },

    selectAnswer(answer) {
      this.questions[this.questionNumber - 1].userAnswer = answer
    },
  },
}
</script>

<style lang="scss">
.test-page {
  &__header {
    margin-bottom: 0.5rem;
  }

  &__body {
    margin-bottom: 3rem;
  }

  &__actions {
    display: flex;
    justify-content: center;

    .button {
      min-width: 10rem;
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.question-item {
  &__title {
    margin-bottom: 1rem;
  }
}
</style>
