<template>
  <div class="answers-list">
    <div
      v-for="{ status, title, id } in answers"
      :key="id"
      class="answers-item"
      :class="{
        'answers-item--correct': status === 'correct',
        'answers-item--wrong': status === 'wrong',
      }"
      @click="!modelValue && $emit('update:modelValue', id)"
    >
      {{ title }}
    </div>
  </div>
</template>

<script>
export default {
  emits: ['update:modelValue'],

  props: {
    answers: {
      type: Array,
      default: () => [],
    },

    modelValue: {
      type: String,
      default: null,
    },
  },
}
</script>

<style lang="scss">
.answers-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.8rem;
}

.answers-item {
  display: block;
  cursor: pointer;
  padding: 1rem;
  border: 1px solid var(--color-border);
  border-radius: var(--rounded);
  user-select: none;
  overflow: hidden;
  font-weight: 500;

  &:last-child {
    margin-bottom: 0;
  }

  &--active {
    background: var(--color-primary);
    color: #fff;
  }

  &--correct {
    background: var(--color-success);
  }

  &--wrong {
    background: var(--color-error);
  }
}
</style>
