<template>
  <button
    class="button"
    :class="{
      'button--primary': type === 'primary',
      'button--secondary': type === 'secondary',
      'button--text': type === 'text',
    }"
  >
    <slot />
  </button>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: 'primary',
    },
  },
}
</script>

<style lang="scss">
.button {
  padding: 1rem 2rem;
  border-radius: var(--rounded);
  font-weight: 600;
  outline: none;
  border: none;
  transition: 0.3s;
  cursor: pointer;

  &:disabled {
    background: var(--color-disabled);
  }

  &--primary {
    background: var(--color-primary);
    color: #fff;

    &:active {
      background: var(--color-primary-dark);
    }
  }

  &--secondary {
    background: var(--color-primary-lighter);
    color: var(--color-primary);

    &:active {
      background: var(--color-primary-light);
    }
  }

  &--text {
    background: transparent;
    color: var(--color-primary);

    &:active {
      background: var(--color-primary-light);
    }
  }
}
</style>
