<template>
  <input type="text" class="input" />
</template>

<script>
export default {}
</script>

<style lang="scss">
.input {
  width: 100%;
  border: 1px solid var(--color-border);
  padding: 1rem 0.8rem;
  border-radius: var(--rounded);
  box-sizing: border-box;

  &:focus {
    outline: none;
    border: 1px solid var(--color-primary);
  }
}
</style>
