<template>
  <div class="app-range">
    <div
      v-for="(value, index) in modelValue"
      :key="index"
      class="app-range__item"
    >
      <div class="app-range__label">{{ index === 0 ? 'от:' : 'до:' }}</div>
      <app-input
        type="number"
        :value="value"
        @input="changeValue($event.target.value, index)"
        inputmode="numeric"
      />
    </div>
  </div>
</template>

<script>
import AppInput from '@/components/AppInput.vue'

export default {
  props: {
    modelValue: {
      type: Array,
      default: () => [],
    },
  },

  components: {
    AppInput,
  },

  methods: {
    changeValue(val, index) {
      let newValue = [...this.modelValue]

      newValue[index] = +val

      this.$emit('update:modelValue', newValue)
    },
  },
}
</script>

<style lang="scss">
.app-range {
  display: flex;

  &__item {
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__label {
    font-weight: 600;
    color: rgb(153, 153, 153);
    font-size: 12px;
    margin-bottom: 4px;
  }
}
</style>
