<template>
  <div class="test-item">
    <div class="test-item__name">
      {{ test.name }}
    </div>
    <div class="test-item__questions-count">
      Количество вопросов: {{ test.questions.length }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    test: {
      type: Object,
      default: () => {},
    },
  },
}
</script>

<style lang="scss">
.test-item {
  border: 1px solid var(--color-border);
  padding: 1rem 0.8rem;
  border-radius: var(--rounded);
  cursor: pointer;
  display: block;

  &__name {
    font-weight: 500;
  }

  &__questions-count {
    font-size: 0.8rem;
  }
}
</style>
