<template>
  <div class="default-layout">
    <div class="default-layout__container">
      <div v-if="title" class="default-layout__title">
        {{ title }}
      </div>
      <div class="default-layout__content">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: null,
    },
  },
}
</script>

<style lang="scss">
.default-layout {
  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  &__container {
    padding: 1rem;

    @media (min-width: 992px) {
      max-width: 960px;
      margin: 0 auto;
    }
  }
}
</style>
